# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_drive.log

# Android
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
*.jks

# iOS
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/flutter_assets/
ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
ios/Runner.xcworkspace/contents.xcworkspacedata
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata
ios/Runner.xcodeproj/xcuserdata
*.mode1v3
*.mode2v3
*.perspectivev3
*.playgroundbook
*.pbxuser
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# macOS
.DS_Store
.AppleDouble
.LSBStoreDBData
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
dist/